<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h2><b>We are completing 4 years of journey, drop by to say Hello!</b><h2>
                <a href="https://ibb.co/jRmsCe"><img src="https://preview.ibb.co/myMQXe/IMG_20180820_WA0003.jpg" alt="IMG_20180820_WA0003" border="0"></a>
            <h1>About Us</h1>
        </div>
        <div class="col-sm-12">
			<h3>WHAT IS FITNESS TREE?</h3>
            <p>
                Fitness Tree is a holistic fitness studio that helps individuals attain one of the greatest gifts of all--that of good health.
				Fitness Tree is based on the belief that a healthy individual is a more productive and efficient individual.
				For this reason, we look to provide health and wellness programs to individuals that are designed to facilitate positive lifestyle changes in members.
				We are designed to meet the needs of all individuals that are interested in improving their overall level of physical fitness.
				This includes everyone from the severely obese to the person who is already physically fit and simply looking to add to their breadth of knowledge.
            </p>
        </div>
        <div class="col-sm-12">
			<h3>OUR GOAL?</h3>
            <p>
                Our goal at Fitness Tree is to adequately explain and outline every factor that is involved in obtaining and maintaining a healthy lifestyle.
				This includes workouts, diet plans and the various mental aspects associated with the challenge of making a positive change to one's lifestyle.
            </p>
        </div>
		<div class="col-sm-12">
			<h3>WHY US?</h3>
            <p>
				At Fitness Tree, we believe that traditional approaches to the current health and fitness scenario are misdirected and reactive.
				Our approach, which emphasizes change in lifestyle and good health, is much more proactive.
				An integral part of our service is following up and monitoring the individuals.
				Many members will become benefactors of such programs without working out on heavy machinery, as gymming is only one facet of overall fitness. 
				Fitness Tree is not primarily a gym. We are in the business of fitness, health care and wellness management.
            </p>
        </div>
		<div class="col-sm-12">
			<h3>SERVICES OFFERED:</h3>
			<ul>
				<li>Spacious Weight Training Area</li>	
				<li>Separate Cardio Section</li>	
				<li>Personal Training at No Additional Cost</li>	
				<li>Strength Training</li>	
				<li>Functional Fitness</li>	
				<li>Boxing and Heavy Bag</li>
				<li>On Road Biking (with Safety Gear)</li>	
				<li>Fitness and Nutrition Education</li>	
				<li>Free Wi-Fi</li>	
				<li>Locker Facility</li>	
				<li>Male and Female Changing Rooms</li>
			</ul>
			
		</div>
    </div>
</section>