<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
			<div class="col-md-6 col-sm-12 container-contacts-phone">
				
				<p>or drop in at 301, Tagore Park Extn. Delhi-110009, INDIA</p>
			</div>
			<div class="col-md-6 col-sm-12 container-contacts-phone">
                
				
				<script>
     				 function initMap() {
        				var uluru = {lat: 28.704024, lng: 77.195399};
        				var map = new google.maps.Map(document.getElementById('map'), {
          					zoom: 4,
          					center: uluru
        					});
        				var marker = new google.maps.Marker({
          					position: uluru,
          					map: map
      						});
      									}
    			</script>				
			</div>
        </div>
    </div>
</footer>