<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
			<div class="col-sm-12">
				<style>#add{
				text-align:center;position:relative
					}
				</style>
				<p>OR DROP IN AT 301, TAGORE PARK EXTN. DELHI-110009, INDIA</p>
			</div>
			<div class="col-sm-12">
             				
				<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'>
				</script>
				<div style='overflow:hidden;height:200px;width:300px;'>
					<div id='gmap_canvas' style='height:200px;width:300px;'>
					</div>
									
					<style>#gmap_canvas img{
						max-width:none!important;
						background:none!important}
					</style>
				</div>
				<script type='text/javascript'>
					function init_map(){
						var myOptions = {
							zoom:16,center:new google.maps.LatLng(28.704519959870336,77.19827667354126),mapTypeId: google.maps.MapTypeId.ROADMAP
						};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(28.704519959870336,77.19827667354126)});infowindow = new google.maps.InfoWindow({content:'<strong>Fitness Tree</strong><br>Tagore Park Roundabout, Tagore Park, Mukherjee Nagar, Delhi, 110009<br>'});google.maps.event.addListener(marker, 'click', function(){
							infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    
				<script async defer
    				src="https://maps.googleapis.com/maps/api/js?callback=myMap">
    				</script>
				
			</div>
        </div>
    </div>
</footer>